<mat-tab-group>
  <mat-tab label="Top Questions" disabled>
    <div class="tabContent">
    <!-- empty -->
    </div>
  </mat-tab>
  <mat-tab label="Tab 1">
      <div class="tabContent">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
        nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in 
        reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla 
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in 
        culpa qui officia deserunt mollit anim id est laborum.
      </div>
  </mat-tab>
  <mat-tab label="Tab 2">
    <div class="tabContent">
    Content 2
    </div>
  </mat-tab>
  <mat-tab label="Tab 3">
    <div class="tabContent">
    Content 3
    </div>
  </mat-tab>
  <mat-tab label="Tab 4">
    <div class="tabContent">
    Content 4
    </div>
  </mat-tab>
</mat-tab-group>
